<div class="col-xs-12">
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Documento</th>
              <th>E-mail</th>
              <th>Saldo</th>
              <th>Ações2</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="customer in ctrl.customers">
              <td>
                <label>{{customer.name}}</label>
              </td>
              <td>
                <label>{{customer.document}}</label>
              </td>
              <td>
                <label>{{customer.email}}</label>
              </td>
              <td style="width:150px;">
                    <label>R$ {{customer.balance}}</label>
              </td>
              <td style="width:150px;" >
                <button class="btn btn-warning"><i class="fa fa-clone" ng-click="ctrl.selectCustomerToUpdate(customer)"></i></button>
                <button class="btn btn-danger"><i class="fa fa-trash-o" ng-click="ctrl.remove(customer)"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>