<section class="sidebar">
	<ul class="sidebar-menu">
		<li class="header">Menu Principal</li>
		<li>
			<a ui-sref="cashout">
				<i class="fa fa-credit-card-alt"></i> <span>Caixa Eletrônico</span>
			</a>
		</li>
		<li class="treeview">
		   <a href>
		        <i class="fa fa-edit"></i> <span>Cadastros</span>
		        <i class="fa fa-angle-left pull-right"></i>
		  </a>
		  <ul class="treeview-menu">
		    <li>
		      <a ui-sref="customers"><i class="fa fa-address-book-o"></i> Clientes</a>
		    </li>
		  </ul>
		</li>
	</ul>
</section>
